In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [8]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
773,tt1401152,30000000,130786397,Unknown,Liam Neeson|Diane Kruger|January Jones|Aidan Q...,Jaume Collet-Serra,Take Back Your Life,An American biologist attending a conference i...,113,Action|Mystery|Thriller,Studio Babelsberg|StudioCanal|Dark Castle Ente...,2/16/2011,6.4,2011
899,tt0274558,25000000,108846072,The Hours,Nicole Kidman|Julianne Moore|Meryl Streep|Step...,Stephen Daldry,The time to hide is over. The time to regret i...,"""The Hours"" is the story of three women search...",114,Drama,Paramount Pictures|Miramax Films|Scott Rudin P...,12/27/2002,6.7,2002
1765,tt0435670,30000000,26810113,The Invisible,Justin Chatwin|Margarita Levieva|Marcia Gay Ha...,David S. Goyer,"Life, death and something in between.",After an attack leaves him in limbo -- invisib...,102,Action|Adventure|Crime|Drama|Fantasy,Spyglass Entertainment|Hollywood Pictures|Birn...,4/27/2007,5.9,2007
689,tt0831887,60000000,39031337,The Spirit,Gabriel Macht|Scarlett Johansson|Samuel L. Jac...,Frank Miller,I'm gonna kill you all kinds of dead.,Down these mean streets a man must come. A her...,103,Action|Comedy|Thriller|Crime|Science Fiction,DC Comics|Lionsgate|Odd Lot Entertainment|Medi...,12/25/2008,4.6,2008
394,tt0446029,60000000,47664559,Scott Pilgrim vs. the World,Michael Cera|Mary Elizabeth Winstead|Kieran Cu...,Edgar Wright,Get the hot girl. Defeat her evil exes. Hit lo...,Scott Pilgrim is a film adaptation of the crit...,112,Action|Adventure|Comedy,Universal Pictures|Marc Platt Productions,7/27/2010,7.2,2010

In [10]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [11]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [12]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = 'The Dark Knight Rises (tt1345836)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [14]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data.loc[data['budget']== data['budget'].max()]['original_title'].tolist()[0]

In [15]:
answers['1'] = max_budget
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides'}

ВАРИАНТ 2

In [16]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [17]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [18]:
max_runtime = data.loc[data['runtime']== data['runtime'].max()]['original_title'].tolist()[0]
data['runtime'].max()
answers['2'] = max_runtime
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals'}

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
max_runtime = data.loc[data['runtime']== data['runtime'].min()]['original_title'].tolist()[0]
data['runtime'].min()
answers['3'] = max_runtime
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals', '3': 'Winnie the Pooh'}

# 4. Какова средняя длительность фильмов?

In [127]:
max_runtime = data.loc[data['runtime']==int(round(data['runtime'].mean()))]['original_title'].tolist()[0]
data['runtime'].round(0)
max_runtime = int(round(data['runtime'].mean()))
answers['4'] = max_runtime  
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals', '3': 'Winnie the Pooh', '4': 110, '5': 'Love the Coopers', '6': 'Avatar', '7': 'The Lone Ranger', '8': 1048, '9': 'The Dark Knight', '10': 'The Lone Ranger', '11': 'Comedy', '12': 'Comedy', '13': 'Peter Jackson', '14': 'Steven Soderbergh'}

# 5. Каково медианное значение длительности фильмов?

In [129]:
max_runtime = data.loc[data['runtime']== data['runtime'].median()]['original_title'].tolist()[0]
max_runtime = int(data['runtime'].median())
answers['5'] = max_runtime  
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals', '3': 'Winnie the Pooh', '4': 110, '5': 107, '6': 'Avatar', '7': 'The Lone Ranger', '8': 1048, '9': 'The Dark Knight', '10': 'The Lone Ranger', '11': 'Comedy', '12': 'Comedy', '13': 'Peter Jackson', '14': 'Steven Soderbergh'}

Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget

In [ ]:
6. Какой самый прибыльный фильм?

In [22]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget'] 
max_profit = data.loc[data['profit']== data['profit'].max()]['original_title'].tolist()[0]
answers['6'] = max_profit   
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals', '3': 'Winnie the Pooh', '4': 'Left Behind', '5': 'Love the Coopers', '6': 'Avatar'}

In [23]:
#7. Какой фильм самый убыточный?

In [24]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget'] 
max_profit = data.loc[data['profit']== data['profit'].min()]['original_title'].tolist()[0]
answers['7'] = max_profit   
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals', '3': 'Winnie the Pooh', '4': 'Left Behind', '5': 'Love the Coopers', '6': 'Avatar', '7': 'The Lone Ranger'}

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [132]:
data['profit'] = data['revenue'] - data['budget'] 
index = data.loc[data['profit']>data['budget']].index
answers['8'] = len(index)  
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1048,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Steven Soderbergh'}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
df  = data.loc[(data['release_year']== 2008)]
max_profit = df.loc[df['profit']== df['profit'].max()]['original_title'].tolist()[0]
answers['9'] = max_profit  
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 'Left Behind',
 '5': 'Love the Coopers',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1048,
 '9': 'The Dark Knight'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
df  = data.loc[(data['release_year']>=2012)&(data['release_year']<=2014)]
min_profit = df.loc[df['profit']== df['profit'].min()]['original_title'].tolist()[0]
answers['10'] = min_profit  
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 'Left Behind',
 '5': 'Love the Coopers',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1048,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger'}

# 11. Какого жанра фильмов больше всего?

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [34]:
df= data['genres'].value_counts()
answers['11'] = df.index[0]  
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 'Left Behind',
 '5': 'Love the Coopers',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1048,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Comedy'}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [42]:
df = data.groupby(['genres'])['profit'].sum().sort_values(ascending=False)
answers['12'] = df.index[0]  
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 'Left Behind',
 '5': 'Love the Coopers',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1048,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Comedy',
 '12': 'Comedy'}

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [43]:
df = data.groupby(['director'])['profit'].sum().sort_values(ascending=False)
answers['13'] = df.index[0]  
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 'Left Behind',
 '5': 'Love the Coopers',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1048,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson'}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [72]:
df= data[data.genres == 'Action']
#df
#data['genres'].unique()
#data['genres'].str.startswith('Action', na=False)
#df= data[data['genres'].str.startswith('Action', na=False)]['director'].value_counts()
#answers['14'] = df.index[0]  
#answers

In [73]:
df = data[~data.genres.str.match("Action", na=False)]['director'].value_counts()
answers['14'] = df.index[0]  
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 'Left Behind',
 '5': 'Love the Coopers',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1048,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Steven Soderbergh'}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)